<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/addIngredient.css">
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/messageBox.css">
    <title>Inserisci Ingrediente</title>
</head>
<body>
    <h1>Add ingredient</h1>
    <br>

    <br>
    <div id="messageBox" class="center messageBox"></div>
    <br>

    <table id="ingredientTable">
        <tr>
            <th class="right">Name: </th>
            <td style="position: relative;">
                <input type="text" id="ingredientName" />
                <div id="suggestionBox_name"></div>
            </td>
        </tr>
        <tr>
            <th class="right">Type: </th>
            <td style="position: relative;">
                <input type="text" id="ingredientType"/>
                <div id="suggestionBox_type"></div>
            </td>
        </tr>
        <tr><th colspan="2"><hr style="width: 100%; border: 1px solid #ffffff;"></th></tr>
        <tr><th colspan="2"><h2>Nutritional value</h2></th></tr>
        <tr><td colspan="2"><p class="center">Every information must hold for 100g</p></td></tr>
        <tr>
            <th class="right">Kcal: </th>
            <td class="left"><input type="number" id="ingredientKcal" class="numberInput"/></td>
        </tr>
        <tr>
            <th class="right">Protein: </th>
            <td class="left"><input type="number" id="ingredientProtein" class="numberInput" /> g</td>
        </tr>
        <tr>
            <th class="right">Fiber: </th>
            <td class="left"><input type="number" id="ingredientFiber" class="numberInput"/> g</td>
        </tr>
        <tr>
            <th class="right">Fat: </th>
            <td class="left"><input type="number" id="ingredientFat" class="numberInput"/> g</td>
        </tr>
        <tr>
            <th class="right">Of which saturated: </th>
            <td class="left"><input type="number" id="ingredientSaturated" class="numberInput"/> g</td>
        </tr>
        <tr>
            <th class="right">Carbohydrate: </th>
            <td class="left"><input type="number" id="ingredientCarb" class="numberInput"/> g</td>
        </tr>
        <tr>
            <th class="right">Of which sugar: </th>
            <td class="left"><input type="number" id="ingredientSugar" class="numberInput"/> g</td>
        </tr>
        <tr>
            <th class="right">Salt: </th>
            <td class="left"><input type="number" id="ingredientSalt" class="numberInput"/> g</td>
        </tr>
        <tr>
            <th class="right">Cholesterol: </th>
            <td class="left"><input type="number" id="ingredientChol" class="numberInput"/> mg</td>
        </tr>
        <tr><th colspan="2"><hr style="width: 100%; border: 1px solid #ffffff;"></th></tr>
        <tr><th colspan="2"><h2>Product details</h2></th></tr>
        <tr>
            <th class="right">Cost: </th>
            <td class="left"><input type="number" id="ingredientCost" class="longInput" placeholder="€/100g or per unit"/> €</td>
        </tr>
        <tr>
            <th class="right">Weight of a unit: </th>
            <td class="left"><input type="number" id="ingredientUnitWeight" class="longInput" placeholder="Empty if loose product" /> g</td>
        </tr>
        <tr>
            <th class="right">Name of the unit: </th>
            <td class="left"><input type="text" id="ingredientUnitName" placeholder="350g can / Costco hotdog / ..."/></td>
        </tr>
    </table>

    

    <div class="center">
        <button id="addIngredient">Empty inputs</button>
    </div> 

    <script>
        require('../js/addIngredient.js');
    </script>
</body>
</html>