<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/addRecipe.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/table.css">
    <link rel="stylesheet" href="../css/messageBox.css">
    <link rel="stylesheet" href="../css/suggestionBox.css">
    <title>Add Recipe</title>
</head>
<body>

    <h1>Add Recipe</h1>

    <br>
    <div class="explainingBox center">
        In the table, the ingredients of the selected recipe are displayed. 
        <br>
        You can modify the quantities and the preparation, but the recipe file is only updated if you press ENTER maintaining the focus on the input field. 
        <br>
        Otherwise, the changes remain local and are reverted when focus is lost.
    </div>

    <br>

    <div id="messageBox" class="center messageBox"></div>
    <br>

    <table>
        <tr>
            <th class="right noStyle bottom">Recipe:</th>
            <td colspan="2" class="left">
                <input type="text" id="recipeName" class="bottom">
                <div id="suggestionBox_recipe" class="suggestionBox bottom"></div>
                <button id="deleteRecipe" class="bottom">Delete recipe</button>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="padding-top: 20px;"></td>
        </tr>
        <tr>
            <th class="right top noStyle">Preparation: </th>
            <td colspan="2">
                <textarea id="preparation" rows="10" cols="50"></textarea>
            </td>
        </tr>
    </table>

    <table id="ingredientTable" class="table_border">

        <colgroup>
            <col span="1">
            <col class="rightBorder leftBorder">
            <col class="rightBorder">
            <col span="8">
            <col class="leftBorder">
        </colgroup>
        <thead>
            <tr>
                <th id="nameHeader" class="ordered">Ingredient</th>
                <th id="quantityHeader">Quantity</th>
                <th id="typeHeader" class="ordered">Type</th>
                <th id="kcalHeader" class="number ordered">Kcal<br></th>
                <th id="proteinHeader" class="number ordered">Prot<br><span>(g)</span></th>
                <th id="fiberHeader" class="number ordered">Fiber<br><span>(g)</span></th>
                <th id="fatHeader" class="number ordered">Fat<br><span>(g)</span></th>
                <th id="saturatedHeader" class="number ordered">Sat Fat<br><span>(g)</span></th>
                <th id="carbHeader" class="number ordered">Carb<br><span>(g)</span></th>
                <th id="sugarHeader" class="number ordered">Sugar<br><span>(g)</span></th>
                <th id="saltHeader" class="number ordered">Salt<br><span>(g)</span></th>
                <th id="cholHeader" class="number ordered">Chol<br><span>(mg)</span></th>
                <th id="costHeader" class="number ordered">Cost<br><span>(€)</span></th>
                <th class="thButton"></th>
            </tr>
        </thead>
        <tbody id="dynamicTable">
            <!-- Dynamic rows will be added here -->
        </tbody>
        
        <!-- Ingredient selection -->
        <tr>
            <td colspan="14" style="padding-top: 20px;"></td>
        </tr>
        <tr>
            <td class="bottom left">Add ingredient:</td>
            <td colspan="13"></td>
        </tr>
        <tr>
            <td><input type="text" id="ingredientName" /><div id="suggestionBox_ingredient" class="suggestionBox"></div></td>
            <td id="tdQuantityInput" class="left">
                <input type="number" id="quantityGrams" class="numberInput" step="0.1"> g
                <div id="unitAlternative" style="display: inline;">
                    ||
                    <input class="numberInput" type="number" id="quantityUnit" placeholder="[0,∞]" min="0" step="0.01" oninput="validity.valid||(value='');"> 
                    of 
                    <span id="unitName">(unit name)</span>
                </div>
            </td>
            <td class="center" id="typeSuggestedIngredient"></td>
            <td class="center" id="kcalSuggestedIngredient"></td>
            <td class="center" id="proteinSuggestedIngredient"></td>
            <td class="center" id="fiberSuggestedIngredient"></td>
            <td class="center" id="fatSuggestedIngredient"></td>
            <td class="center" id="saturatedSuggestedIngredient"></td>
            <td class="center" id="carbSuggestedIngredient"></td>
            <td class="center" id="sugarSuggestedIngredient"></td>
            <td class="center" id="saltSuggestedIngredient"></td>
            <td class="center" id="cholSuggestedIngredient"></td>
            <td class="center" id="costSuggestedIngredient"></td>
            <td><button id="addIngredientButton">+</button></td>
        </tr>
    </table>

    <script>
        require('../js/addRecipe.js');
    </script>
</body>
</html>

