<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/button.css">
    <title>Diet planner</title>
</head>
<body>


    <h1>Diet planner</h1>

    <button id="recipeListButton">recipe list</button>
    <button id="addRecipe">Add recipe</button>

    <button id="ingredientListButton">Ingredient List</button>

    <script>
        require('../js/mainWindow.js');
    </script>
</body>
</html>

