#suggestionBox_name, #suggestionBox_type {
    max-height: 100px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    z-index: 1000;
    color: black;
    text-align: left;
    width: 100%; /* Set width to 100% to match the input field */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
#suggestionBox_name div, #suggestionBox_type div {
    padding: 8px;
    cursor: pointer;
}
#suggestionBox_name div:hover, #suggestionBox_type div:hover, .autocomplete-active {
    background-color: #f0f0f0;
}

table {
    margin: auto;
}

input {
    width: 100%;
}
input.numberInput {
    width: 40%;
}
input.longInput {
    width: 80%;
}




button:disabled, button:disabled:hover{
    background-color: #925837;
}
