#suggestionBox {
    border: 1px solid #ccc;
    max-height: 100px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    z-index: 1000;
    width: calc(100% - 22px); /* Adjust width to match input field */
}
#suggestionBox div {
    padding: 8px;
    cursor: pointer;
}
#suggestionBox div:hover {
    background-color: #f0f0f0;
}