#suggestionBox, #suggestionBox_recipe {
    max-height: 100px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    z-index: 1000;
    color: black;
    text-align: left;
    width: 100%; /* Set width to 100% to match the input field */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
#suggestionBox div, #suggestionBox_recipe div {
    padding: 8px;
    cursor: pointer;
}
#suggestionBox div.autocomplete-active, #suggestionBox_recipe div.autocomplete-active {
    background-color: #f0f0f0;
}

table {
    margin: auto;
}


input {
    width: 100%;
}
.numberInput {
    width: 20%;
    padding-right: 10px;
}
.longInput {
    width: 80%;
}


#unitWeight, #unitName {
    display: inline-block;
}