/* EXPLAIN BOX */
.explainingBox {
    color: #fff08c;
    border: 1px solid #fff08c;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 60%;
    margin:auto;
}

.messageBox {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  height: 20px;
  min-height: 20px; /* Ensures the div occupies the same space even when empty */
}
