
/* TABLE */
table {
    width:90%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }

.table_border th, .table_border td {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 3px;
  white-space: nowrap; /* Prevent text from wrapping */
}

.table_border {
  border-collapse: collapse;
}

.rightBorder {
  border-right: 1px solid white;
}

.leftBorder {
  border-left: 1px solid white;
}

.sumRow {
  background-color: #ff5e00;
  font-weight: bold;
}

th {
  background-color: #ff5e00;
  text-align: center;
  position: relative;

  /* Make the table header non-selectable */
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}

td {
  text-align: center;
}

th.ordered:hover {
  cursor: pointer;
}

.number {
  width: 40px; /* Set fixed width */
  white-space: nowrap;
  text-align: center;
}
/* Remove top and bottom borders for table rows */
.table tr {
  border-top: none;
  border-bottom: none;
}
/* Remove the first and last vertical lines */
table th:first-child, table td:first-child {
  border-left: none;
}

table th:last-child, table td:last-child {
  border-right: none;
}

.nonSelectable {
    /* Make the table header non-selectable */
    user-select: none;
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}